apiVersion: v1
kind: Secret
metadata:
  name: "{{ kubernetesDockerRegistrySecret.name }}"
  namespace: "{{ kubeadm.cluster.namespace | default('default') }}"
data:
  .dockercongigjson: "{{ encodedDockerConfigJson }}"
type: kubernetes.io/dockerconfigjson
